body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.encabezado {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
    margin-bottom: none;
    height: 150px;
}

.encabezado h1 {
    font-size: 4rem;
}

.contenedor {
    background: #cccccc;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.4);
    font-family: sans-serif;
    padding: 20px;
    margin-top: none;
}

#celsius, #fahrenheit, #kelvin, #rankine {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

input {
    flex: 5;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
    background-color: #ffffff;
    color: #000000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.button {
    margin-top: 25px;
    text-align: center;
}

.button button {
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
    background: #555555;
    color: #ffffff;
}

.button button:hover {
    background: #000000;
    color: #ffffff;
}

.icon {
    flex: 1;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background: #333333;
    color: #ffffff;
    border-radius: 0 8px 8px 0;
}

.pie-de-pagina footer {
    background: #333333;
    padding: 20px;
    margin-top: 40px;
    margin-left: 110px;
    width: 600px;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 24px;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.4);
}



